/dist/
/node_modules/
.DS_STORE
temp
*.log*
.yarnclean
/.files/.vim/plugged
/.files/.vim/autoload
src/node_modules/@rampant/db/firebase-key.json
.env
*.cache
.firebaserc
.files/autohotkey/personal-snippets.ahk
credentials.json
