/dist/
/node_modules/
.DS_STORE
temp
*.log*
.yarnclean
/.files/.vim/plugged
/.files/.vim/autoload
src/node_modules/@rampant-firebase/db/firebase-key.json
.env
*.cache
.files/ahk/personal-snippets.ahk
.files/ahk/bin/leptonica_util
.files/ahk/bin/tesseract/
credentials.json
/paks
/data/fn-uassets
.VSCodeCounter
/.files/current-project.txt