[user]
	name = Raymond Benefield
	email = raymond.benefield@gmail.com
[diff]
	tool = vimdiff
	mnemonicprefix = true
	renames = copies
	colorMoved = zebra
[difftool]
	prompt = false
[alias]
	a = add .
	l = log --oneline
	p = pull --rebase --tags
	f = fetch --all --tags --prune
	br = branch
    ci = commit
	st = status -u
    cb = checkout -b
    co = !sh -c \"git checkout $(git branch | fzf)\"
    ls = "!f() { git ls-files; git ls-files --others --exclude-standard; }; f"
	last = log -1 HEAD
    save = stash save -u
	amend = commit -a --amend --no-edit
	dif = diff --staged
	staged = diff --staged
	pretty = log --graph --oneline --decorate
	unstage = restore --staged .
	refresh = reset --hard @{u}
	show-files = show --pretty="format:" --name-only
[color "status"]
	untracked = cyan
[core]
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	followTags = true
[rerere]
	enabled = true
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red 52
	newNormal = green
	newHighlight = green 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red
	new = green
	whitespace = red reverse
